<!DOCTYPE html> 
<html> 
    <head> 
    <title>Parkdash</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body> 

<div data-role="page">

    <div data-role="header">
        <h1>Parkdash - Pick Date/Time</h1>
    </div><!-- /header -->

    <div data-role="content">   
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal">
                <input type="radio" name="radio-choice-date" id="radio-choice-1" value="Monday" checked="checked" />
                <label for="radio-choice-1">M</label>
    
                <input type="radio" name="radio-choice-date" id="radio-choice-2" value="Tuesday"  />
                <label for="radio-choice-2">T</label>
    
                <input type="radio" name="radio-choice-date" id="radio-choice-3" value="Wednesday"  />
                <label for="radio-choice-3">W</label>
    
                <input type="radio" name="radio-choice-date" id="radio-choice-4" value="Thursday"  />
                <label for="radio-choice-4">Th</label>
                <input type="radio" name="radio-choice-date" id="radio-choice-5" value="Friday"  />
                <label for="radio-choice-5">F</label>
         	</fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal">
                <input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
                <label for="radio-choice-1">1</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
                <label for="radio-choice-2">2</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
                <label for="radio-choice-3">3</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
                <label for="radio-choice-4">4</label>
                <input type="radio" name="radio-choice-1" id="radio-choice-5" value="choice-5" />
                <label for="radio-choice-5">5</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-6" value="choice-6"  />
                <label for="radio-choice-6">6</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-7" value="choice-7"  />
                <label for="radio-choice-7">7</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-8" value="choice-8"  />
                <label for="radio-choice-8">8</label>
                <input type="radio" name="radio-choice-1" id="radio-choice-9" value="choice-9" />
                <label for="radio-choice-9">9</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-10" value="choice-10"  />
                <label for="radio-choice-10">10</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-11" value="choice-11"  />
                <label for="radio-choice-11">11</label>
    
                <input type="radio" name="radio-choice-1" id="radio-choice-12" value="choice-12"  />
                <label for="radio-choice-12">12</label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal">
                <input type="radio" name="radio-choice-mins" id="radio-choice-1" value="15" checked="checked" />
                <label for="radio-choice-1">:15</label>
    
                <input type="radio" name="radio-choice-mins" id="radio-choice-2" value="30"  />
                <label for="radio-choice-2">:30</label>
    
                <input type="radio" name="radio-choice-mins" id="radio-choice-3" value="45"  />
                <label for="radio-choice-3">:45</label>
        </div>
        <div data-role="fieldcontain">
            <select name="slider" id="flip-b" data-role="slider">
                <option value="am">AM</option>
                <option value="pm">PM</option>
            </select> 
        </div>
        <button type="submit" data-theme="d" class="ui-btn-hidden" aria-disabled="false">Clear</button>
        <button type="submit" data-theme="a" class="ui-btn-hidden" aria-disabled="false">Submit</button>
    </div><!-- /content -->

</div><!-- /page -->

</body>
</html>

